#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container .indiCont{
    display: flex;
    align-content: flex-start;
}
#container .indiCont:nth-of-type(even){
    align-content: flex-end;
}