.indiCont{
    display: flex;
    align-items: flex-end;
    width: 50vw;
    justify-content: space-evenly;
    background-color: pink;
    margin: 10px auto;
}

.indiCont:nth-of-type(odd){
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
    background-color: aquamarine;
}
#buttonsDiv{
    display: flex;
    flex-direction: column;
}